* {
   margin: 0;
   padding: 0;
}

.tracker-form {
	border-radius:10px;
   background: rgb(6, 141, 180);
   background: linear-gradient(309deg, rgba(6, 141, 180, 1) 0%, rgba(58, 44, 81, 1) 100%);
}
/*
#backgroundvideo {
   background: linear-gradient(309deg, rgba(6, 141, 180, 1) 0%, rgba(58, 44, 81, 1) 100%);
}*/

.butn {
   background: #3A2C51;
   border-radius: 30px;
   width:100%;
}
.tracking-icon.status-complete {
   border: 1px solid rgba(6, 141, 180, 0.3);
   color: #068DB4;
}

.tracking-icon {
   line-height: 2.6rem;
   /* position: absolute; */
   left: -1.3rem;
   width: 2.6rem;
   height: 2.6rem;
   text-align: center;
   border-radius: 50%;
   font-size: 20px;
   background-color: #fff;
   color: #e5e5e5;
}

.tracking-content span {
   display: block;
   color: #888;
   font-size: 85%;
}

.tracking-date {
   /* position: absolute; */
   display: block;
   color: #888;
   font-size: 85%;
}

.tracker span {
   padding-left: 35px;
}